<h1>Menu</h1>
<h2>Select items to add to you cart</h2>
<hr />
  <!-- Menu-Item Form -->
	  <form id="checksCreate">
	  <div class="formError"></div>
    <div class="formSuccess">Your Cart has been Saved</div>

			<table id="checksListTable">
			  <tr>
			    <th>Item</th>
			    <th>Price</th>
			  </tr>
			  <tr id="noChecksMessage">
			    <td colspan="5">Error Loading Menu Items</td>
			  </tr>
			</table>
			<div class="inputWrapper ctaWrapper">
		    <button type="submit" onClick="app.handleCart()" class="cta green">Add Items to Cart</button>
		  </div>
	  </form>