<html>
	<head>
		<title>{head.title} | {global.appName}</title>
		<meta charset="utf-8">
		<meta http-equiv="content-language" content="en-us">
		<meta name="description" content="{head.description}">
		<base href="{global.baseURL}"/>
		<link type="image/x-icon" rel="icon" href="favicon.ico">
		<link rel="stylesheet" href="">
		<script rel="stylesheet" type="text/css" href="public.index.css"></script>
	</head>

	<body class="{body.class}">
		<div class="wrapper">
			<div class="header">
				
				<a class="logo" href="/"></a>

				<ul class="menu">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a class="loggedOut" href="/">Signup</a>
					</li>
					<li>
						<a class="loggedOut" href="/">Login</a>
					</li>
					<li>
						<a class="loggedIn" href="/">Dashboard</a>
					</li>
					<li>
						<a class="loggedIn" href="/">Account Settings</a>
					</li>
					<li>
						<a href="/">Logout</a>
					</li>
				</ul>
			</div>

			<div class="content">